.account-page-container {
  padding-top: 56px;
  width: 48%;
  padding-bottom: 50%;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information-container {
  display: flex;
  flex-direction: row;
}

.value-title {
  font-weight: bold;
}

.value-content {
  padding-left: 16px;
}
