.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.show-more {
  margin-top: 0px !important;
}

@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}

.home-title {
  padding-left: 8px;
  padding-right: 8px;
}
